{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello Tweets/ListController!{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_end(form) }}

    <h1>Thread</h1>

    {% for tweet in tweets %}
        <p>
            {{ tweet.authorName }}
            {{ tweet.message }}
            {{ tweet.createdDate | ago(locale='fr') }}
            <a href="{{ path('likes_edit', {'tweet_uid': tweet.uid}) }}">
                {{ tweet.isLikedByMe ? '♥' : '♡' }}
            </a>
            {{ tweet.totalLikes }}
            <a href="{{ path('tweets_show', {'uid': tweet.uid}) }}">
                DETAIL
            </a>
        </p>
    {% endfor %}

    <div>
        {% for i in 1..maxPaginationPage %}
        <a class="pagination-link {% if page == i %}active{% endif %}"
           href="{{ path("tweets_list") }}?page={{ i }}&limit={{ limit }}">
            {{ i }}
        </a>
        {% endfor %}
    </div>

    <h1>Tendances</h1>

    {% for tweet in top5Tweets %}
        <p>
            {{ tweet.authorName }}
            {{ tweet.message }}
            {{ tweet.createdDate | ago(locale='fr') }}
            <a href="{{ path('likes_edit', {'tweet_uid': tweet.uid}) }}">
                {{ tweet.isLikedByMe ? '♥' : '♡' }}
            </a>
            {{ tweet.totalLikes }}
            <a href="{{ path('tweets_show', {'uid': tweet.uid}) }}">
                DETAIL
            </a>
        </p>
    {% endfor %}
{% endblock %}
