{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello Tweets/ShowController!{% endblock %}

{% block content %}
    <article class="single-tweet">
        <h1>Tweet de {{ tweet.authorName }}</h1>
        <p>{{ tweet.message }}</p>
        <p>Posté {{ tweet.createdDate | ago(locale='fr') }}</p>
        <a href="{{ path('likes_edit', {'tweet_uid': tweet.uid}) }}">
            {{ isLikedByMe ? '♥' : '♡' }}
        </a>
        {{ tweet.totalLikes }}
        {% if app.user and tweet.authorId == app.user.id %}
        <a href="{{ path('tweets_edit', {'uid': tweet.uid}) }}">
            MODIFIER
        </a>
        <a href="{{ path('tweets_delete', {'uid': tweet.uid}) }}">
            SUPPRIMER
        </a>
        {% endif %}
    </article>
{% endblock %}
