{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello Tweets/ShowController!{% endblock %}

{% block content %}
    <article class="single-tweet">
        <h1>Tweet de {{ tweet.createdBy.username }}</h1>
        <p>{{ tweet.message }}</p>
        <p>Posté le : {{ tweet.createdDate | ago(locale='fr') }}</p>
        {% if app.user and tweet.createdBy == app.user %}
        <a href="{{ path('tweets_edit', {'uid': tweet.uid}) }}">
            MODIFIER
        </a>
        <a href="{{ path('tweets_delete', {'uid': tweet.uid}) }}">
            SUPPRIMER
        </a>
        {% endif %}
    </article>
{% endblock %}
