{% extends '_layouts/in_app.html.twig' %}

{% block title %}SearchController!{% endblock %}

{% block content %}

{% for tweet in listTweets %}
    {{ tweet.authorName }}
    {{ tweet.message }}
    {{ tweet.createdDate | ago(locale='fr')}}
    <a href="{{ path('likes_edit', {'tweet_uid': tweet.uid}) }}">
        {{ tweet.isLikedByMe ? '♥' : '♡' }}
    </a>
    {{ tweet.totalLikes }}
    <a href="{{ path('tweets_show', {'uid': tweet.uid}) }}">
        DETAIL
    </a>
    <br>
{% endfor %}

{% endblock %}
