{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello Tweets/DeleteController!{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.message, "Votre nouveau message") }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.message) }}
    </div>

    <div class="actions" style="margin-top: 20px;">
        <button type="submit">Enregistrer les modifications</button>
        <a href="{{ path('tweets_show', {'uid': tweets.uid}) }}" class="btn btn-secondary">Annuler</a>
    </div>

    {# On ferme le formulaire #}
    {{ form_end(form) }}
{% endblock %}
