{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello User/ShowController!{% endblock %}

{% block content %}

    <h1>Informations</h1>

    <p>{{ informations.username }}</p>
    <p>{{ informations.bio }}</p>

    {% if app.user.username != informations.username %}
    <a href="{{ path('follows_edit', {'name': informations.username}) }}">{{ is_followed ? "Ne plus suivre" : "Suivre" }}</a>
    {% endif %}

    <h1>Followed</h1>
    <p>Nombre de followed : {{ nb_followed }}</p>
    {% for user in followed %}
        <p>
            <a href="{{ path('user_show', {'username': user.username}) }}">{{ user.username }}</a>
        </p>
    {% endfor %}

    <h1>Followers</h1>
    <p>Nombre de followers : {{ nb_followers }}</p>
    {% for user in followers %}
        <p>
            <a href="{{ path('user_show', {'username': user.username}) }}">{{ user.username }}</a>
        </p>
    {% endfor %}

    <h1>Tweets</h1>
    {% for tweet in tweets %}
        <p>
            {{ tweet.authorName }}
            {{ tweet.message }}
            {{ tweet.createdDate | ago(locale='fr') }}
            {{ tweet.totalLikes }} likes
        </p>
    {% endfor %}

{% endblock %}
